:root {
  --font-gray-color: #a3a3a3;
  --gray-color: #dddddd;
}

.topBtn {
  position: fixed;
  z-index: 99999;
  bottom: 7%;
  right: 1.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.topBtn a {
  font-weight: 500;
  font-size: 16px;
  color: var(--font-gray-color);
}
button.move {
  border-radius: 50%;
  border: 2px solid var(--gray-color);
  background: white;
  cursor: pointer;
  margin-bottom: 5px;
}
button.move i {
  padding: 5px;
  font-size: 32px;
}
